.ghost{
    border:1px solid red;
}

*{
	padding:0;
	margin:0;
}

body{
	background:#333;
}

.content{
	width:1000px;
	height:400px;
	
	margin:50px auto;
}
.content .box{
	width:205px;
	height:220px;
	
	float:left;
	margin:0 60px;
}

.box-mission .icon{
	display:block;
	width:174px;
	height:155px;
	background:url(./images/mission.png) no-repeat;
	margin:0 auto;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
	-moz-transition:all 0.2s;
}

.box-mission .icon:hover{
	transform:scale(1.2) rotate(360deg);
	-webkit-transform:scale(1.2) rotate(360deg);
	-o-transform:scale(1.2) rotate(360deg);
	-moz-transform:scale(1.2) rotate(360deg);
}
.box-play .icon{
	display:block;
	width:174px;
	height:155px;
	background:url(./images/play.png) no-repeat;
	margin:0 auto;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
	-moz-transition:all 0.2s;
}

.box-play .icon:hover{
	transform:scale(1.2) rotate(360deg);
	-webkit-transform:scale(1.2) rotate(360deg);
	-o-transform:scale(1.2) rotate(360deg);
	-moz-transform:scale(1.2) rotate(360deg);
}

.box-touch .icon{
	display:block;
	width:174px;
	height:155px;
	background:url(./images/touch.png) no-repeat;
	margin:0 auto;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
	-moz-transition:all 0.2s;
}

.box-touch .icon:hover{
	transform:scale(1.2) rotate(360deg);
	-webkit-transform:scale(1.2) rotate(360deg);
	-o-transform:scale(1.2) rotate(360deg);
	-moz-transform:scale(1.2) rotate(360deg);
}

.box .button{
	background:url(./images/allow.png) no-repeat 130px center;
	display:block;
	width:156px;
	height:45px;
	line-height:45px;
	margin:20px auto;
	font-family:"微软雅黑";
	font-weight:bolder;
	font-size:18px;
	color:#2ECC71;
	text-decoration:none;
	padding-left:20px;
	border:2px solid rgba(255,255,255,0.2);
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
}

.box .button:hover{
	background-position:140px center;
	border:2px solid rgba(255,255,255,1);
}
	